<ion-content [fullscreen]="true" class="d-flex ion-justify-content-center ion-align-items-center">
  <div class="login">
    <div class="login-container">
      <ion-row class="d-flex ion-justify-content-center ion-align-items-center">
        <ion-col size="12" class="ion-padding-vertical">
          <p class="ion-text-center paragraph-primary">Inicio de Sesion</p>
          <div class="avatar">
            <ion-avatar>
              <ion-img src="../../assets/images/avatar.png"></ion-img>
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="input-wrapper">
            <ion-input type="text" class="input"></ion-input>
          </div>
          <div class="input-wrapper">
            <ion-input type="text" class="input"></ion-input>
          </div>
        </ion-col>
        <ion-col size="12">
          <button class="button-primary">
            Iniciar Sesión
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
